<input placeholder="Your name..." id="author">
<input placeholder="Your message..." id="send">
<br>
<% chat.forEach((msg) => { %>
<h2 style="display:inline"><%= msg.author %>: <%= msg.text %></h2><h5><%= msg.id %></h5><br> 
<% }) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
    const socket = io.connect('localhost:3000')

    const author = document.getElementById("author")
    const input = document.getElementById("send")

    input.addEventListener("keyup", function(e) {
        e.preventDefault();
        if (e.keyCode === 13) {
            socket.emit('msg', {author: author.value, text: input.value})
            author.value = "", input.value = ""
        }
    })

    socket.on('msg', function(obj) {
        updateDOM(obj.author, obj.text)
    })

    function updateDOM(author, text) {
        let h = document.createElement("H2")
        let t = document.createTextNode(author + ': ' + text)
        h.appendChild(t)
        document.body.appendChild(h)
    }
</script>